.background {
    width: 67%;
    position: absolute;
    margin-left: 23%;
    margin-top: -9%;
    z-index: -1;
    opacity: 50%;
}

.content {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    width: 52%;
    margin-left: -70%;
    padding-top: 48px;
}

.box {
    border-color: white;
    border-radius: 10px;
    border-style: solid;
    padding: 5px;
    margin-top: 8px;
}

.question {
    background-color: #00006a;
    font-size: 24px;
}

.answer {
    background-color: #6a0000;
    font-size: 24px;
}
